.CardBack,
.DisabledCardBack {
    width: 2.5in;
    height: 3.5in;
    vertical-align: top;
    display: inline-flex;

    border-radius: 12px;
    margin: 8px;
    padding: 10px;
}

.DisabledCardBack {
    opacity: 0.5;
}

.ArtContainer {
    position: relative;
    flex: 1;
    padding: 8px;
    background-color: floralwhite;
    border-radius: 8px;
}

.ArtInner {
    position: relative;
    width: 100%;
    height: 100%;

    border: 4px solid;
    border-radius: 8px;
}

.ArtBackground {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
}

.Art {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
svg {
    flex: 1;
}

.TopCorner,
.BotCorner {
    margin: 0 4px;
    font-family: "modesto-condensed", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75in;
    line-height: 0.65in;
}

.TopCorner {
    align-self: flex-end;
}

.BotCorner {
    align-self: flex-start;
}

@media print {
    .CardBack,
    .DisabledCardBack {
        -webkit-print-color-adjust: exact;
        margin: 2px !important;
    }

    .DisabledCardBack {
        display: none;
    }
}
