body {
    overscroll-behavior: none;
}

.App {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    max-height: 100vh;
}

.TopBar {
    grid-column: 1/3;
}

.Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    background-color: #dfdfdf;
    border-right: 1px solid #888888;
    overflow-y: scroll;
}

.Spellbook {
    flex-grow: 1;
    background-color: #f0f0f0;
    overflow-y: scroll;
}

@media print {
    @page {
        size: landscape;
    }

    .App {
        height: auto;
        max-height: none;
    }

    .content {
        height: auto;
    }
}
