.AddCard {
    width: 2.5in;
    height: 3.5in;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 96px;

    margin: 8px;
    padding: 10px 10px 6px 10px;
    border-radius: 12px;

    border-color: darkgray;
    border-style: dashed;

    background-color: rgba(0, 0, 0, 0.15);

    cursor: pointer;
    user-select: none;
}

.AddCard:hover {
    opacity: 0.9;
}

.AddCard:active {
    background-color: rgba(0, 0, 0, 0.20);
}
